$key-margin: .5%

@mixin key-width($width)
  // Last key doens't have a margin-right set hence `$key-margin / 15`
  width: (100% / 15) * $width - $key-margin + ($key-margin / 15)

.config
  background-color: green
  height: 40px

.selected
  font-weight: bold

.key-row
  // This eliminates the gap caused by the whitespace between keys.
  font-size: 0
  margin-bottom: 5px

.key
  height: 60px
  background-color: black
  border-radius: 5px

  color: white

  display: inline-block
  position: relative
  margin-right: $key-margin

  &:last-of-type
    margin-right: 0

  span
    margin: 4px 8px

  .noMod, .shift, .altGr, .altGrShift
    position: absolute

  .noMod
    bottom: 0
    right: 0

  .shift
    top: 0
    right: 0

  .altGr
    bottom: 0
    left: 0
    color: red

  .altGrShift
    top: 0
    left: 0
    color: red

  &.x1
    @include key-width(1)

  &.x15
    @include key-width(1.5)

  &.x175
    @include key-width(1.75)

  &.x2
    @include key-width(2)

  &.x225
    @include key-width(2.25)

  &.x275
    @include key-width(2.75)

  &.x45
    @include key-width(4.5)

  &.x625
    @include key-width(6.25)

.about
  text-align: right

#sample-code
  margin-top: 20px
  width: 100%
  font-family: "Courier New", Courier, monospace

#options
  .key
    width: 100%
    margin-top: 5px
    display: block

  .buttons
    padding-left: 0