$key-margin: .5%

@mixin key-width($width)
  // Last key doens't have a margin-right set hence `$key-margin / 15`
  width: (100% / 15) * $width - $key-margin + ($key-margin / 15)

.selected
  font-weight: bold

.container-fluid
  max-width: 1215px

.key-row
  // This eliminates the gap caused by the whitespace between keys.
  font-size: 0
  margin-bottom: 5px

.key
  height: 60px
  background-color: black
  border-radius: 7px

  font-family: 'Source Code Pro', "Courier New", Courier, monospace
  font-size: 18px
  color: white
  font-weight: bold

  display: inline-block
  position: relative
  margin-right: $key-margin

  &:last-of-type
    margin-right: 0

  span
    margin: 4px 8px

  .noMod, .shift, .altGr, .altGrShift
    position: absolute

  .noMod
    bottom: 1px
    right: 3px

  .shift
    top: 1px
    right: 3px

  .altGr
    bottom: 1px
    left: 3px
    color: red

  .altGrShift
    top: 1px
    left: 3px
    color: red

  &.x1
    @include key-width(1)

  &.x15
    @include key-width(1.5)

  &.x175
    @include key-width(1.75)

  &.x2
    @include key-width(2)

  &.x225
    @include key-width(2.25)

  &.x275
    @include key-width(2.75)

  &.x45
    @include key-width(4.5)

  &.x625
    @include key-width(6.25)

  &.embiggen .altGr
    font-size: 22px

  &.devLayer
    background-color: red
    color: black

.about
  text-align: right
  font-family: "Raleway", Arial, Helvetica, sans-serif

#corpus
  margin-top: 10px
  width: 100%

#callToAction
  margin-top: 5px
  padding: 0

  .key
    width: 100%
    margin-bottom: 5px
    display: block

    text-align: center
    font-size: 24px
    padding: 12px 0

    &#download
      color: red

textarea
  height: 300px

#results
  margin-top: 10px
  height: 306px
  background-color: gray

  #distance
    font-size: 16px
    padding: 20px

  .large
    font-size: 32px

  .huge
    font-size: 64px

  .inline-block  
    display: inline-block

  .sans
    font-family: "Raleway", Arial, Helvetica, sans-serif

#layouts
  margin-top: 25px

  .radio-inline
    margin: 0

    *
      cursor: pointer

  label, span:first-child
    font-weight: bold
    font-size: 20px

  input[type=radio]
    display: none

    & + span
      display: inline-block
      background-color: black
      width: 16px
      height: 16px
      border-radius: 8px
      position: relative
      left: 3px
      top: 2px

    &:checked + span:after
      content: " "
      display: inline-block
      background-color: red
      width: 6px
      height: 6px
      border-radius: 3px
      position: absolute
      top: 5px
      left: 5px

body
  font-family: 'Source Code Pro', "Courier New", Courier, monospace

h1, h2
  font-weight: bold
