.selected {
  font-weight: bold; }

.container-fluid {
  max-width: 1215px; }

.key-row {
  font-size: 0;
  margin-bottom: 5px; }

.key {
  height: 60px;
  background-color: black;
  border-radius: 7px;
  font-family: "Source Code Pro", "Courier New", Courier, monospace;
  font-size: 18px;
  color: white;
  font-weight: bold;
  display: inline-block;
  position: relative;
  margin-right: 0.5%; }
  .key:last-of-type {
    margin-right: 0; }
  .key span {
    margin: 4px 8px; }
  .key .noMod, .key .shift, .key .altGr, .key .altGrShift {
    position: absolute; }
  .key .noMod {
    bottom: 1px;
    right: 3px; }
  .key .shift {
    top: 1px;
    right: 3px; }
  .key .altGr {
    bottom: 1px;
    left: 3px;
    color: red; }
  .key .altGrShift {
    top: 1px;
    left: 3px;
    color: red; }
  .key.x1 {
    width: 6.2%; }
  .key.x15 {
    width: 9.53333%; }
  .key.x175 {
    width: 11.2%; }
  .key.x2 {
    width: 12.86667%; }
  .key.x225 {
    width: 14.53333%; }
  .key.x275 {
    width: 17.86667%; }
  .key.x45 {
    width: 29.53333%; }
  .key.x625 {
    width: 41.2%; }
  .key.embiggen .altGr {
    font-size: 22px; }
  .key.devLayer {
    background-color: red;
    color: black; }

.about {
  text-align: right;
  font-family: "Raleway", Arial, Helvetica, sans-serif; }

#corpus {
  margin-top: 10px;
  width: 100%; }

#callToAction {
  margin-top: 5px;
  padding: 0; }
  #callToAction .key {
    width: 100%;
    margin-bottom: 5px;
    display: block;
    text-align: center;
    font-size: 24px;
    padding: 12px 0; }
    #callToAction .key#download {
      color: red; }

textarea {
  height: 300px; }

#foo {
  background-color: orange; }

#results {
  margin-top: 10px;
  height: 306px;
  background-color: gray;
  position: relative; }
  #results .sans {
    font-family: "Raleway", Arial, Helvetica, sans-serif; }
  #results .inline-block {
    display: inline-block; }
  #results .large {
    font-size: 34px; }
  #results .emphasis {
    font-weight: bold; }
  #results .percentage {
    font-size: 72px;
    line-height: 0.8em;
    text-align: center; }
  #results .farther {
    font-size: 45px; }
  #results .devLayer, #results .vanilla {
    line-height: 0.9em;
    text-align: justify; }
  #results #distance {
    font-size: 16px;
    padding: 20px;
    background-color: green; }
  #results #graph {
    height: 240px;
    width: 100%;
    background-color: orange; }
  #results #pinkieUse {
    position: absolute;
    top: 10px;
    right: 0px;
    width: 360px; }
    #results #pinkieUse .desc {
      width: 250px; }

#layouts {
  margin-top: 25px; }
  #layouts .radio-inline {
    margin: 0; }
    #layouts .radio-inline * {
      cursor: pointer; }
  #layouts label, #layouts span:first-child {
    font-weight: bold;
    font-size: 20px; }
  #layouts input[type=radio] {
    display: none; }
    #layouts input[type=radio] + span {
      display: inline-block;
      background-color: black;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      position: relative;
      left: 3px;
      top: 2px; }
    #layouts input[type=radio]:checked + span:after {
      content: " ";
      display: inline-block;
      background-color: red;
      width: 6px;
      height: 6px;
      border-radius: 3px;
      position: absolute;
      top: 5px;
      left: 5px; }

body {
  font-family: "Source Code Pro", "Courier New", Courier, monospace; }

h1, h2 {
  font-weight: bold; }

/*# sourceMappingURL=style.css.map */
